@import '../../assets/sass/global';
.area {
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 65%;
    @extend %fixed;
    z-index: 15;
    transform: translate3d(0, 0, 0);
    transition-duration: .3s;
    background-color: _palette(bg);
    .title {
        @include fontSize(2);
        text-align: center;
        @extend %br-cells-bottom;
        height: #{$spacing*3.3}rem;
        line-height: #{$spacing*3.3}rem;
        @extend %relative;
        background-color: _palette(box-bg);
        i {
            color: _palette(icon-bg);
            right: #{$spacing}rem;
            @extend %absolute;
            height: inherit;
            line-height: inherit;
        }
    }
    .selects {
        select {
            margin-left: -.08rem;
        }
        label {
            color: _palette(darken-color);
            padding: 0 #{$spacing}rem;
            height: #{$spacing*2.5}rem;
            line-height: #{$spacing*2.6}rem;
        }
        .cells {
            height: #{$spacing*2.5}rem;
            line-height: #{$spacing*2.6}rem;
            @extend %br-cells-bottom;
            @extend %br-cells-top;
            padding:0 #{$spacing}rem;
            background-color: _palette(box-bg);
            i {
                right:#{$spacing}rem;
                top: 0;
                z-index: 1;
                @extend %absolute;
                @extend %angle;
                height: inherit;
                line-height: inherit;
                &:after {
                    content: ' ';
                    background-color: _palette(box-bg);
                    right: #{$spacing - .12}rem;
                    @extend %absolute;
                    top: 25%;
                    padding: #{$spacing - .08}rem #{$spacing}rem;
                }
            }
        }
        .remark {
            @include fontSize(-2);
            padding:#{$spacing}rem;
            color: _palette(darken-color);
        }
    }
    &.area-enter,
    &.area-leave-active {
        transform: translate3d(0, 100%, 0);
    }
}